.roomItems {
  display: flex;
  justify-content: center;
  &__items {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1120px) {
  .roomItems {
    &__items {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .roomItems {
    &__items {
      display: grid;
      grid-gap: 2rem;
      align-items: start;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
