.facilities {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .facilities {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .facilities {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
